name: Tests

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04, ubuntu-latest, macos-12, macos-13, macos-latest]

    steps:
    - name: Install CppUTest
      uses: lyricwulf/abc@v1
      with:
        all: cpputest

    - uses: SimenB/github-actions-cpu-cores@v1
      id: cpu-cores

    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'

    - run: make -j${{ steps.cpu-cores.outputs.count }}
